# Populating and querying database with SQLite
## Populate sample file

In [ ]:
from faker import Faker
from tqdm import tqdm
from random import sample

fake = Faker()
Faker.seed(1234567890)

file = open('data.tsv', 'w')
file.write('SSN\tName\tPhone number\tCompany\tBank\tCredit Card\tCredit Card Expiration\tCredit Card Provider\n')

banks = ['Fernandez Inc', 'Zimmerman PLC', 'Shannon-Parker', 'Norman, Salas and Buckley', 'Solis-Harris', 'Cohen, Lane and Bryan', 'Woodward-Jones', 'Howard-Randall', 'Johnson, Adams and Baker', 'Schneider PLC']

for n in tqdm(range(2500)):
    ssn = fake.ssn()
    name = fake.name()
    phone_number = fake.phone_number()
    company = fake.company()
    bank = sample(banks,1)[0]
    credit_card = fake.credit_card_number()
    credit_card_expiration = fake.credit_card_expire()
    credit_card_provider = fake.credit_card_provider()
    
    file.write('{0}\t{1}\t{2}\t{3}\t{4}\t{5}\t{6}\t{7}\n'.format(ssn, name, phone_number,company,bank,credit_card,credit_card_expiration,credit_card_provider))
file.close()

 61%|██████    | 1516/2500 [00:01<00:00, 1655.11it/s]

In [ ]:
import csv, sqlite3
import pandas as pd

!touch database.db
conn = sqlite3.connect('database.db')
cursor = con.cursor()

In [ ]:
filename = 'data.tsv'
df = pd.read_csv(filename, sep='\t')
df.to_sql('clients', conn, if_exists='append', index=False)

## Print all values

In [ ]:
cur.execute("SELECT * FROM manifest")
rows = cur.fetchall()

## Exercises
1. Count how many records are in table `clients`.

In [ ]:
# INSERT CODE BELOW

2. Confirm all `SSN` are unique.

In [ ]:
# INSERT CODE BELOW

3. Find the unique list of all banks in `Bank`.

In [ ]:
# INSERT CODE BELOW

4. Count the number of records associated with each bank in column `Bank`. Create a table called `Banks` and populate it with columns `Name` and `Frequency`. E.g.

````
| Name            | Frequency |
|-----------------|-----------|
| PNC Bank        | 24        |
| Bank of America | 103       |
| Banco Popular   | 453       |
```

Add table to database.

In [ ]:
# INSERT CODE BELOW

5. Select all records from table `Banks`.

In [ ]:
# INSERT CODE BELOW

6. Update table `clients` and make the column `SSN` as primary key.

In [ ]:
# INSERT CODE BELOW